<style>
    footer.container > *{
        padding-top: 20px;
    }
    footer.container > * > div {
        margin-top: 250px;
/*        height: 500px;*/
/*        background: coral;*/
/*        border: 2px solid tomato;*/
        color: aliceblue;
    }
</style>
<footer class="container">
    <div class="col-lg-4">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores animi dolor ea itaque, iste, non dignissimos? Aspernatur ducimus ex dolores modi laboriosam officiis minima adipisci nobis fuga ab, incidunt, maxime sed dolorem, tenetur consectetur deleniti alias tempora debitis accusantium. Expedita nam distinctio, perferendis animi consequuntur laboriosam sunt eligendi itaque libero delectus iste iure maxime alias. Eum, sapiente ipsam, nam </div>
    </div>
    <div class="col-lg-4">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptate doloremque, ab quidem, dicta laboriosam libero tenetur dolor doloribus unde commodi alias impedit icia adipisci eaque provident dolor dolores voluptates voluptas ut deleniti minima maiores possimus itaque neque ipsam. Illo adipisci suscipit explicabo rem corporis quaerat pariatur voluptatibus repudiandae fugit reiciendis, autem consectetur doloribus iusto soluta quibusdam voluptas numquam eligendi tempore animi, recusandae molestias laborum. Consectetur aliquid consequatur accusantium minima et non amet ipsam nemo corrupti temporibus, tempora esse laboriosam illum facere modi quam molestias, corporis quidem voluptatum.</div>
    </div>
    <div class="col-lg-4">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eum quia, necessitatibus aliquid velit illo nesciunt. Enim unde ducimus eveniet.</div>
    </div>
</footer>
