<footer class="container">
    <!--
   <div class="row">
    <div class="col-lg-4">
       <ul >
           <li><a href="">Link1</a></li>
           <li><a href="">Link2</a></li>
           <li><a href="">Link3</a></li>
           <li><a href="">Link4</a></li>
           <li><a href="">Link5</a></li>
       </ul>
    </div>
    <div class="col-lg-4">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptate doloremque, ab quidem, dicta laboriosam libero tenetur dolor doloribus unde commodi alias impedit icia adipisci eaque provident dolor dolores voluptates voluptas ut deleniti minima maiores possimus itaque neque ipsam. Illo adipisci suscipit explicabo rem corporis quaerat pariatur voluptatibus repudiandae fugit reiciendis, autem consectetur doloribus iusto soluta quibusdam voluptas numquam eligendi tempore animi, recusandae molestias laborum. Consectetur aliquid consequatur accusantium minima et non amet ipsam nemo corrupti temporibus, tempora esse laboriosam illum facere modi quam molestias, corporis quidem voluptatum.</div>
    </div>
    <div class="col-lg-4">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eum quia, necessitatibus aliquid velit illo nesciunt. Enim unde ducimus eveniet.</div>
    </div>
    </div>
-->
    <div style="padding-top:600px;" class="row">
        <div class="col-md-4 copyright">
            <a href=""><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2016 Hierofania<br/></a>
            
            <a href="http://www.dmca.com/Protection/Status.aspx?ID=4500e4ed-03dd-476a-af9b-890bcf525a8f" title="DMCA.com Protection Status" class="dmca-badge"> <img src="//images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=4500e4ed-03dd-476a-af9b-890bcf525a8f" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            </div>
        <div class="social-sharing  col-md-8 pull-right" data-permalink="http://HIEROFANIA.pl">

            <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
            <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://HIEROFANIA.pl" class="share-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="share-title">Share</span>
            </a>

            <!-- https://dev.twitter.com/docs/intents -->
            <a target="_blank" href="http://twitter.com/share?url=http://HIEROFANIA.pl&amp;text=jQuery%20social%20media%20buttons%20on%20GitHub&amp;" class="share-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="share-title">Tweet</span>
            </a>

            <!--
      https://developers.pinterest.com/pin_it/
      Pinterest get data from the same Open Graph meta tags Facebook uses
    -->
            <a target="_blank" href="http://pinterest.com/pin/create/button/?url=http://HIEROFANIA.pl&amp;media=http://photos-c.ak.instagram.com/hphotos-ak-xfp1/10369404_682591538475746_1724734234_n.jpg&amp;description=Tina%20the%20dachsund" class="share-pinterest">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <span class="share-title">Pin it</span>
            </a>

            <!-- https://developers.google.com/+/web/share/ -->
            <a target="_blank" href="http://plus.google.com/share?url=http://HIEROFANIA.pl" class="share-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <span class="share-title">+1</span>
            </a>
            <!--

     http://fancy.com/help/button 
    <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL=http://HIEROFANIA.pl&amp;Title=Tina%20the%20dachsund&amp;Category=Other&amp;ImageURL=http://distilleryimage3.ak.instagram.com/6477684ac48d11e19ab222000a1e8819_7.jpg" class="share-fancy">
      <span class="icon icon-fancy" aria-hidden="true"></span>
      <span class="share-title">Fancy</span>
    </a>
-->

            <!-- https://www.reddit.com/buttons -->
            <a target="_blank" href="http://www.reddit.com/submit?url=http://HIEROFANIA.pl&title=jQuery%20social%20media%20buttons%20on%20GitHub" class="share-reddit">
                <i class="fa fa-reddit" aria-hidden="true"></i>
                <span class="share-title">Reddit</span>
            </a>

            <!-- https://developer.linkedin.com/plugins/share -->
            <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://HIEROFANIA.pl&title=jQuery%20social%20media%20buttons%20on%20GitHub" class="share-linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <span class="share-title">Share</span>
            </a>

            <!-- http://blogs.skype.com/2015/11/04/introducing-share-button-effortless-sharing-that-sparks-richer-conversations/ -->
            <a target="_blank" href="https://web.skype.com/share?url=http://HIEROFANIA.pl&lang=en-us" class="share-skype">
                <i class="fa fa-skype" aria-hidden="true"></i>
                <span class="share-title">Share </span>
            </a>

        </div>
    </div>
    <a class="up" href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    <a class="down" href="#jump"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
</footer>
