<div id="nav_wrap">
    <h1  id="logo" class="logo"><img src="/img/head.png" alt=""></h1>
    <nav role='navigation'>
      <a href="#" id="intro">Hierofania</a>
      <a href="#" id="first">Artykuły</a>
      <a href="#" id="second">Komiks</a>
      <a href="#" id="contact">Kontakt<a>
    </nav>  
  </div>  
  <section id="hero-section" class="hero">
      <h1 class="hierofania"><a id="scroll-to" href="">Hierofania</a></h1>
      <img class="logo--large"  src="/img/hierofania2.svg" alt="">  
  </section>
  