<a id="top" href=""></a>
<div id="nav_wrap">
    <a href=""></a>
    <h1 id="logo" class="logo"><img src="/img/head.png" alt=""></h1>
    <nav role='navigation'>
        <a href="{{ site.base_url }}/#">Hierofania</a>
        <!--        <a href="{{site.base_url}}/first.html#jump">Artykuły</a>-->
        <a href="{{site.base_url}}/comics.html#jump">Komiks</a>
        <a href="{{site.base_url}}/contact.html#jump">Kontakt</a>
    </nav>
</div>
{% if page.featured_image %}
<section id="hero-section" class="hero" style="background:url({{ page.featured_image }})">
    <h1 class="hierofania"><a href="#jump">{{ page.title }}</a></h1>
    <time class="post-meta small">{{ page.date | date: "%d-%m-%Y" }}</time>
    <img class="logo--large" src="{{site.base_url}}/img/hierofania2.svg" alt="">
</section>
{% else %}
<section id="hero-section" class="hero" style="">
    <h1 class="hierofania"><a href="#jump">Hierofania</a></h1>
    <img class="logo--large" src="{{site.base_url}}/img/hierofania2.svg" alt="">
</section>
{% endif%} 