    <header role="banner" class="page-header" id="top">
        <h1 class="brand-header">{{site.title}} <small>{{site.tagline}}</small></h1>
    </header>
<!--
    <main class="featured-article">
        <article>
            {% for post in paginator.posts limit:1 %}
            <time class="post-meta small">{{ post.date | date: "%d-%m-%Y"}}</time>
            <h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
            <div>    
                {{post.excerpt | strip_html}}
                <a href="{{ site.base_url }}{{ post.url }}" title="Czytaj Dalej post ''">Czytaj Dalej...</a>
            </div>
            {% endfor %}
        </article>
    </main>
-->
    <main class="blog col-md-8">
        {% for post in site.categories.article limit:4 %}
        <article>
            <time itempprop="dateCreated" datetime="{{post.date}}" class="post-meta small">{{ post.date | date: "%d-%m-%Y"}}</time>
            <h3><a href="{{ site.base_url }}{{ post.url }}" title="Stały Link do Posta '{{ post.title }}'">{{ post.title }}</a></h3>
            <div> 
                <p>{{post.excerpt | strip_html}}</p>
                <a href="{{ site.base_url }}{{ post.url }}" title="Czytaj Dalej post ''">Czytaj Dalej...</a>
            </div>
        </article>
        {% endfor %}
        
<!--
        <nav class="pagination">
           {% if paginator/previous_page %}
           {% if paginator/previous_page == 1 %}
               <a class="prev" href="{{site.base_url}}">Nowsze</a>
            {% else%}
            <a class="prev" href="{{site.base_url}}/blog/page{{paginator.previous_page}}">Nowsze</a>
            {% endif %}
            {% endif %}
            {% if paginator.next_page %}
            <a class="prev" href="{{site.base_url}}/blog/page{{paginator.next_page}}">Starsze</a>
            {% endif %}
        </nav>
-->
        
    </main>

    <aside class="col-xs-12 col-md-4">
     <h2>Blog</h2>
      {% for post in site.categories.blog limit:3 %}
        <article class="col-md-12 col-sm-6 col-xs-12">
            <time itempprop="dateCreated" datetime="{{post.date}}" class="post-meta small">{{ post.date | date: "%d-%m-%Y"}}</time>
            <h4><a href="{{ site.base_url }}{{ post.url }}" title="Stały Link do Posta '{{ post.title }}'">{{ post.title }}</a></h4>
            <div> 
               <p>{{post.excerpt | strip_html}}</p>
                <a href="{{ site.base_url }}{{ post.url }}" title="Czytaj Dalej post ''">Czytaj Dalej...</a> 
            </div>
        </article>
        {% endfor %}
     
    </aside>