.copyright a {
    color: white;
}

footer.container > * {
    padding-top: 20px;
}

footer.container{
    // margin-top: 250px;
    color: #fff !important;
}

#footer {
 background:url(/img/bg.png); 
 background-size: cover; 
 background-repeat: no-repeat; 
 background-position:bottom;
 width: 100%;
 padding-top:60vw;
}
