@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic);
//@import "syntax";
@import "variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "navbar";
@import "social-sharing";
@import "footer";



body{
    background:url(../img/bg.jpeg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
//    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
   
}
h1{
    
}
h2,h3{
    margin-top: 0px;
}
article{
    margin-bottom: 40px;
}

.brand-header {
    display: inline-block;
    & > small{
        display: block;
        font-size: 50%;
        width: 100%;
        text-align: right;
    }
}

.featured-article {
    @extend .col-xs-12;
    border-bottom: 1px solid #eee; 
}
time{
    color: #ccc;
}
.pagination {
    display: block;
    color: #333;
    & > a{
        display: inline-block;
        color: inherit;
    }
}

.up {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 99;
    background: black;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    & i{
        color: #fff;
        font-size: 40px;
        line-height: 20px;
        width: 100%;
        text-align: center;
    }
    
}

.down {
    display: block;
    position: absolute;
    top: calc(100vh - 64px);
    right: 20px;
    z-index: 999;
    background: black;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    & i{
        color: #fff;
        font-size: 40px;
        line-height: 20px;
        width: 100%;
        text-align: center;
    }
    
}
blockquote{
    font-size:0.9em;
    line-height:1.2em;
    border-left:5px solid light-gey;
    padding:40px;
}
.post p img {
    max-width: 50%;
}
