<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{%if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
    <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{site.base_url}}{{page.url}}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.base_url}}/css/main.css">
    <!--    <link rel="stylesheet" href="{{site.base_url}}/css/social-sharing.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.base_url}}/img/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.base_url}}/img/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.base_url}}/img/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.base_url}}/img/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.base_url}}/img/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.base_url}}/img/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.base_url}}/img/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.base_url}}/img/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.base_url}}/img/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{site.base_url}}/img/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.base_url}}/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.base_url}}/img/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.base_url}}/img/ico/favicon-16x16.png">
    <link rel="manifest" href="{{site.base_url}}/img/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.base_url}}/img/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="{{site.base_url}}{{page.url}}">
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

    <!--<title>{{post.title}}{{site.title}}</title>-->
    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
</head>

<body>
    {% include header.html %} 
    <a style="position:relative; top:-64px; display:block; " id="jump"></a>
    <section class="container ">
    {{ content }}
    </section>
    {% include footer.html %}
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<script>
    var $window = $(window),
        height = $window.height(),
        width = $window.width(),
        navheight = $('#nav_wrap').height();

    $(window).resize(function () {
        height = $window.height(),
            width = $window.width(),
            navheight = $('#nav_wrap').height();
    });

    function sticky() {
        var scrollTop = $window.scrollTop();
        if (scrollTop > (height - navheight)) {
            $('#nav_wrap').addClass('sticky');
            $('nav').addClass('nav_animate');
            setTimeout(function () {
                $('#logo').css({
                    'left': 3 + '%',
                    'transition': '.5s'
                });
                $('#social').css({
                    'right': 5 + '%',
                    'transition': '.5s'
                });
            }, 200);

        } else {
            $('#nav_wrap').removeClass('sticky');
            $('nav').removeClass('nav_animate');
            setTimeout(function () {
                $('#logo').css({
                    'left': -150,
                    'transition': '.5s'
                });
            }, 200);
        }
    }
    $window.on('touchmove', sticky);
    $window.on('scroll', sticky);

    //Navigational Menu
//    $('nav a').click(function (a) {
//        var menuPlace = $(this).index();
//        a.preventDefault();
//        $('html, body').animate({
//            scrollTop: $('section').eq(menuPlace).offset().top - $('nav').height()
//        }, 700);
//    });
</script>
<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function ($) {



        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
        

    

    });
</script>

<script>

</script>
</html>